.chat-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 16px;
  background: #bebebe;
}

.chat-container::-webkit-scrollbar {
  width: 6px;
}

.chat-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
