.chat-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chat-box-and-input {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chat-header{
  background-color: rgb(190, 190, 190);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom: 5px solid lightgray;
}

.chat-header button{
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(178, 178, 178);
    font-weight: bold;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
    transition: 0.3s all;
    font-size: 15px;
}

.chat-header button:hover{
    transform: scale(1.02);
}

.title{
  font-size: 20px;
  font-weight: bolder;
}

.time{
  font-size: 10px;
}

@media (max-width: 768px) {
  .chat-header{
    padding-left: 65px;
  }
}