.chat-box {
  position: relative;
  flex-grow: 2;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  background-color: rgb(216, 216, 216);
}

.chat-box h1 {
  margin-bottom: 10px;
  font-size: 40px;
  color: rgb(74, 74, 74);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.chat-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
}

.chat-input input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
}

.chat-input button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: lightgray;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s all;
}

.chat-input button:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0);
}

.chat-input button:active {
  transform: translateY(2px);
}

.logout {
  position: absolute;
  top: 20px;
  right: 20px;
}
.logout button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(178, 178, 178);
  font-weight: bold;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  transition: 0.3s all;
  font-size: 18px;
}

.logout button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.logout button:active {
  transform: scale(0.98);
}

.profile-btn {
  position: absolute;
  top: 20px;
  right: 150px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(135deg, #777, #999); /* greyscale gradient */
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.profile-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.profile-btn:active {
  transform: scale(0.98);
}
