.sidebar{
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgba(211, 211, 211, 0.277);
}

.sidebar_title{
    padding: 10px;
    background-color: rgb(192, 192, 192);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 30px;
    border-top-left-radius: 20px;
}

.sidebar_chats{
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.sidebar_chats::-webkit-scrollbar {
    width: 8px;
}

.chat_list-item{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: .3s all;
}

.chat_list-item:hover{
    background-color: #f0f0f0;
    transform: translateX(5px);
}

.sidebar_newchat{
    padding: 20px;
    border-bottom-left-radius: 10px;
}

.sidebar_newchat button{
    padding: 15px;
    text-align: center;
    cursor: pointer;
    background-color: lightgray;
    font-weight: bold;
    border-radius: 20px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    transition: .3s all;
}

.sidebar_newchat button:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0);
}